astroid==2.2.5
colorama==0.4.1
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
numpy==1.17.0
pika==1.1.0
protobuf==3.18.3
pylint==2.3.1
pymongo==3.8.0
python-dotenv==0.10.3
six==1.12.0
typed-ast==1.4.0
wrapt==1.11.2
